@charset 'utf-8';

.child-view {
  width: 90%;
  min-width: 1000px;
  margin: auto;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
