@charset 'utf-8';

.element {
  width: $cell;
  padding-top: $cell;
  background: #ddd;
  position: relative;
  border: 1px solid $pt-border;
  border-bottom-width: 0;
  border-right-width: 0;
  font-weight: bold;
  background: linear-gradient(rgba(255, 255, 255, 0.6), transparent);

  > div {
    @include absolute(top 0 left 0 right 0 bottom 0);

    text-align: center;
    padding-top: 30%;
    line-height: 1;

    &::before {
      content: attr(data-number);
      @include absolute(top 0 left 0);
      padding: 5% 0 0 5%;
      font-size: 0.6em;
    }

    > span:last-child {
      font-size: 0.6em;

      &::before {
        content: '\A';
        white-space: pre;
      }
    }
  }
}
