@charset 'utf-8';

.element-detail {
  background: #000;
  border-radius: 0 0 1em 1em;
  padding: 2em;
  color: #eee;
}

.element-content {
  display: flex;
}

.element-img {
  width: 50%;
  padding-top: 50%;
  background: no-repeat 0 0 / contain;
}

.element-info > ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8;

  li {
    padding: 0 1em;

    &:nth-child(even) {
      background: lighten(#000, 20%);
    }

    sup {
      position: relative;
      top: -1em;
      font-size: 0.6em;
    }

    span {
      display: inline-block;
      width: 15em;
    }

    i {
      font-size: 0.8em;
      color: lighten(#000, 40%);
      font-style: normal;
    }
  }
}
