@charset 'utf-8';

.element-detail {
  background: #000;
  border-radius: 0 0 1em 1em;
  padding: 2em;
  color: #eee;
}

.element-content {
  display: flex;
}

.element-img {
  width: 50%;
  padding-top: 50%;
  background: no-repeat 0 0 / contain;
}

.element-info > ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.5;
}
