@charset 'utf-8';

.element-detail {
  background: #000;
  border-radius: 0 0 1em 1em;
  padding: 2em;
  color: #eee;
}

.element-content {
  display: flex;
}

.element-img {
  width: 50%;
  padding-top: 50%;
  background: no-repeat 0 0 / contain;
}

.element-info > ul {
  list-style-type: none;
  margin: 0;
  line-height: 1.8;
  font-family: monospace;
  width: 100%;

  li {
    padding: 0 1em;
    color: #ccc;

    &:nth-child(odd) {
      background: lighten(#000, 20%);
    }

    sup {
      position: relative;
      top: -0.7em;
      font-size: 0.7em;
    }

    span:first-child {
      display: inline-block;
      font-weight: bold;
      width: 12em;
      color: #fff;

      &::after {
        content: ':';
      }
    }

    i {
      font-size: 0.8em;
      color: lighten(#000, 40%);
      font-style: normal;
    }
  }
}

.element-desc {
  text-align: justify;
  line-height: 1.5;
}
