@charset 'utf-8';

.child-view {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 4em;
  /* transform: translateX(-50%); */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
