@charset 'utf-8';

$l-cell: 1em;
$s-cell: $l-cell / 5;

nav {
  margin: auto;
  border-bottom: 1px solid #ddd;
  height: 4em;
  background: #ddd linear-gradient(#fff, transparent);
}

.nav-zone {
  height: 100%;
  margin: 0 5%;
  position: relative;
  text-align: right;

  > h1 {
    @include absolute(top 0 bottom 0);
    font-size: $l-cell * 2;
    line-height: $l-cell * 2;
    padding-left: $l-cell * 1.5;
    color: hsl(240, 100%, 70%);
    cursor: pointer;
    transition: text-shadow 0.3s;

    &:hover {
      text-shadow: 0.1em 0.1em 0.1em #bbb;
    }

    &::before {
      @include size($l-cell);
      @include absolute(top $l-cell / 2 left 0);

      content: '';
      display: block;
      background: radial-gradient(currentColor 30%, transparent 30%);
      border: 1px solid currentColor;
      border-radius: 50%;
    }

    &::after {
      @include size($s-cell);
      @include absolute(top ($l-cell - $s-cell) / 2 left ($l-cell - $s-cell) / 2);

      content: '';
      display: block;
      background: blue;
      border-radius: 50%;
      transform-origin: $s-cell / 2 ($l-cell / 2 + $s-cell / 2);
      animation: round 5s linear infinite;
    }
  }

  > span {
    @include size(2em);
    margin-top: (1.4 / 0.6) * 1em;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 0.6em;
    line-height: 2em;
    cursor: pointer;

    &.cur-ver {
      background: aqua;
    }
  }
}

@keyframes round {
  to {
    transform: rotate(1turn)
  }
}
