@charset 'utf-8';

.periodic-table,
.series {
  margin: 3% 0;
  display: flex;
  flex-wrap: wrap;

  > .element {
    transition: all 0.3s;

    > .radiation::after {
      transition: transform 0.3s linear;
    }

    &:hover {
      transform: scale(1.5);
      z-index: 100;
      border-color: transparent;
      box-shadow: 0 0 10px #bbb;

      > .radiation::after {
        transform: rotate(1turn);
      }
    }
  }
}
// 主表样式定义
.periodic-table > .element {
  &:nth-child(1) {
    margin-right: 16 * $cell;
    box-shadow: 1px 0 $pt-border;
  }
  &:nth-child(4),
  &:nth-child(12) {
    margin-right: 10 * $cell;
    box-shadow: 1px 0 $pt-border;
  }
  &:nth-child(2),
  &:nth-child(10),
  &:nth-child(18),
  &:nth-child(36),
  &:nth-child(54),
  &:nth-child(72),
  &:nth-child(90) {
    border-right-width: 1px;
  }
  &:nth-child(n+73) {
    border-bottom-width: 1px;
  }
  &:nth-child(57),
  &:nth-child(75) {
    font-size: 0.8em;
    & > div {
      padding-top: 40%;
    }
    & > div::before,
    & > div::after {
      font-size: 0.6 / 0.8 * 1em;
    }
  }
}
// 附表样式定义
.series > .element {
  &:nth-child(15n+1) {
    margin-left: 1.5 * $cell;
  }
  &:nth-child(15n) {
    border-right-width: 1px;
  }
  &:nth-child(n+16) {
    border-bottom-width: 1px;
  }
}
